@import "../../assets/styles/init.scss";

.site:nth-child(even) {
  background-color: #eeeeee;
}

body {
  font-family: $fontFamily;
  color: $text1;
  font-size: 16px;
}

.site {
  display: grid;
  // grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

/* --------------------------- Top bar navigation (logo and links) --------------------------- */
nav.site-nav {
  background-color: $primary;
  box-shadow: $shadow1;
  height: 56px;
  width: 100%;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;

  .logo {
    display: flex;
    align-items: center;
    width: 16px;
    flex-grow: 1;
    .name {
      font-size: 14px;
      font-weight: 500;
      color: $white;
      margin: 0 10px;
    }
  }
  ul {
    display: flex;
    gap: 15px;
    a {
      text-decoration: none;
      font-size: 0.8rem;
      color: $white;
    }
  }
}

/* ---------------------- Image Cover and Page Title --------------------- */

header.site-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  // Image Cover
  .site-cover {
    height: 130px;
    width: 100%;
    border-radius: 0px;
    display: grid;
    place-items: center;
    background-color: $bg2;

    .image {
      height: 90px;
      width: 90px;
      background-color: $bg1;
      padding: 17px;
      border-radius: 50%;
      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  // Site Title and subtitles
  .site-title {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .title {
      font-size: 2rem;
      font-weight: 500;
    }
    .subtitle {
      //styleName: Subtitle;
      font-size: 0.8rem;
      font-weight: 400;
      opacity: 0.5;
    }
  }
}

// Main Content
main {
  display: grid;
  padding: 10px 30px;

  .center {
    display: grid;
    place-items: center;
    .image {
      width: 100%;
    }
  }
}

/* --------------------------------- Footer --------------------------------- */
footer.site-footer {
  position: absolute;
  bottom: 0;
}

/* ---------------------------------- Grid ---------------------------------- */
section.grid {
  display: grid;
  grid-row-gap: 10px;
  // place-items: center;
  text-align: center;

  &.grid-row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

/* ------------------------------ Header Custom ----------------------------- */
header.header-custom {
  .site-title {
    margin-top: 10px;
    .title {
      font-size: 1.7rem;
      margin: 0;
      color: $primary;
      font-weight: 600;
      text-decoration: underline;
      padding: 0;
      line-height: 50px;
    }
    .subtitle {
      font-weight: 500;
      opacity: 1;
      color: $text1;
      margin: 0;
      font-size: 1rem;
    }
  }
}

article {
  h3 {
    margin: 4rem 0 0.5rem 0;
    font-size: 1.8rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 600px) {
  main {
    .center {
      .image {
        width: 50vh;
      }
    }
    width: 640px;
    margin: 0 auto;
  }
}
