@import "../../assets/styles/variables.scss";

.btn,
.btn-contained {
  display: flex;
  justify-content: center;
  border-radius: 30px;

  color: $white;
  font-weight: 500;
  font-family: $fontFamily;
  margin: 0 auto;
  align-items: center;
  height: 40px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary {
  background: $primary;
}
.btn-secondary {
  background: $secondary;
}

.btn-danger {
  background: $red;
}
