@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$bg1: hsl(192, 19, 95);
$bg2: hsl(240, 33, 99);
$bg3: hsl(240, 33, 110);

$text1: hsl(196, 68, 7);
$text2: hsl(208, 19, 87);

$primary: hsl(169, 100, 30);
$secondary: hsl(199, 100, 30);
$white: #ffffff;

$gray6: hsl(0, 0%, 95%);

$red: hsl(349, 100, 30);

$shadow1: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);

$fontFamily: "Roboto", sans-serif;
