@import "../../assets/styles/variables.scss";

form {
  display: grid;
  grid-gap: 10px;
  padding: 0 1rem 4rem 1rem;

  .form-field {
    position: relative;
    header {
      display: flex;
      justify-content: space-between;
      .help svg {
        color: $text1;
        width: 12px;
      }
      label {
        padding: 4px 0 4px 10px;
      }
    }
    input,
    select {
      border: none;
      background-color: $bg2;
      padding: 10px;
      border-radius: 2px;
      width: 100%;
      height: 40px;
      color: $text1;
      margin-bottom: 0.2rem;
    }
    select {
      opacity: 0.5;
    }

    input::placeholder {
      color: $text2;
    }

    .alert {
      // position: absolute;
      // bottom: 0;
      color: $red;
      font-size: 0.8rem;
    }
  }
  .actions {
    display: flex;
    justify-content: space-around;
    margin: 1rem 1.5rem;
  }
  // Buttons Area
  .grid {
    margin-top: 20px;
  }
}

/* -------------------------------- Checkbox -------------------------------- */
.form-field-checkbox {
  display: grid;
  grid-template-columns: auto 1fr;

  .input {
    padding-top: 5px;
    input[type="checkbox"],
    input[type="radio"] {
      width: 18px;
      height: 18px;
      border-color: $bg2;
      margin-bottom: auto;
    }
  }

  .label {
    display: flex;
    padding: 0 5px;
    padding-left: 10px;
    flex-flow: column;
    header {
      padding: 0;
      label {
        padding-left: 0;
      }
    }
    small {
      font-size: 0.8em;
      opacity: 0.9;
    }
  }
  .info {
    grid-column: 2 / 4;
  }
}

.timer {
  text-align: center;
  h2 {
  }
}
